{% extends 'base.html' %}

{% block head %}
<title>Superhero Search</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Superhero Search</h1>

    <div id="super_hero_info"></div>

    <form action="submit_form" method="GET">

        <input type="radio" id="hero" name="Hero_Villain" value="hero" checked="checked">
        <label for="html">Hero</label><br>
        <input type="radio" id="villain" name="Hero_Villain" value="hero">
        <label for="html">Villain</label><br>
        <br>
        <input type="text" name="content" id="content">
        <input type="submit" value="Search">
    </form>
    <br><br>
    
    <table>
    {% for entry in superhero_data %}
    <tr>
        <th>{{ entry }}</th>
        {% if superhero_data[entry]|int != 0 %}
            <td>{{ superhero_data[entry] }}</td>
            <tr></tr>
        {% elif entry == 'name' or entry == 'slug' or entry == 'error' %}
            <td>{{ superhero_data[entry] }}</td>
            <tr></tr>
        {% else %}
            {% for stat in superhero_data[entry] %}
                <td>{{ stat }}</td>
                {% if entry == 'images' %}
                    <td><img src="{{ superhero_data[entry][stat] }}"></td>
                {% else %}
                    <td>{{ superhero_data[entry][stat] }}</td>
                {% endif %}
                <tr></tr>
                <td></td>
            {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}